﻿
<div class="container">
    <br />

    <div class="form-label-group">
        <label for="nombre">Nombre</label>
        <input type="hidden" name="idfilaupdate_" id="idfilaupdate_" value="" />
        <input type="text" id="nombre" class="form-control" placeholder="Ingrese el Nombre" required autofocus>
    </div>

    <br />
    <div class="form-label-group">
        <label for="sexo">Sexo</label>
        <input type="text" id="sexo" class="form-control" placeholder="Ingrese el sexo">
    </div>
    <br />

    <div class="form-label-group">
        <label for="edad">Edad</label>
        <input type="number" id="edad" class="form-control" placeholder="Ingrese la edad">
    </div>
    <br />
    <div class="form-label-group">
        <label for="observacion">Observacion</label>
        <input type="text" id="observacion" class="form-control" placeholder="Ingrese la observacion">
    </div>


    <br />

    <button class="btn btn-lg btn-primary btn-block text-uppercase" id="btn">Guardar</button>
    <button  type="button" class="btn btn-lg btn-warning btn-block  text-uppercase" id="btnupdateprue">Actualizar</button>
    <br />
    <br />
    <table id="table" class="table table-striped" class="table table-striped table-bordered">
        <thead>
            <tr>

                <td>Eliminar</td>
                <td>Actualizar</td>
                <td>id</td>
                <td>nombre</td>
                <td>sexo</td>
                <td>edad</td>
                <td>observaciones</td>

            </tr>
        </thead>
        <tbody id="table1" class="table1"></tbody>
    </table>

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <label>nombre:</label>
                <input type="hidden" name="idfilaupdate" id="idfilaupdate" value="" />
                <input type="text" name="unombre" id="unombre" value="" />

                <br />
                <label>sexo:</label>
                <input type="text" name="usexo" id="usexo" value="" />
                <br />

                <label>edad:</label>
                <input type="number" name="uedad" id="uedad" value="" />

                <br />
                <label>observacion:</label>
                <input type="text" name="uobservacion" id="uobservacion" value="" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="btnupdate">Actualizar</button>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

<script>

    $(document).ready(function () {

        $("#btnupdateprue").hide();

        $("#btnupdateprue").click(function () {

            //$('#myModal').modal('show');
    
            
            //event.preventDefault();
            //jQuery.noConflict();
            //$("#myModal").modal("show");
        })

        $("#btnupdateprue").click(function () {

            debugger
            var id = $("#idfilaupdate_").val();
            var nombre=   $("#nombre").val();
             var sexo=  $("#sexo").val();
              var edad= $("#edad").val();
              var observacion= $("#observacion").val();
        
            
           

            funUpdate(id, nombre, sexo, edad, observacion);
            
            //$("#myModal").modal('hide');

            
        //     $.noConflict();
        //$('#table').dataTable(funRequest(1));
           

        })

        $(".table tbody").on("click", "td .btneliminar", function () {
            var data = $(this).parents('tr').find("td").eq(2).html();

            funDelete(data);

        });

          $(".table tbody").on("click", ".btnupdate", function () {

              debugger
              var id = $(this).parents('tr').find("td").eq(2).html();
              var un = $(this).parents('tr').find("td").eq(3).html();
              var us = $(this).parents('tr').find("td").eq(4).html();
              var ue = $(this).parents('tr').find("td").eq(5).html();
              var uo = $(this).parents('tr').find("td").eq(6).html();

              $("#idfilaupdate_").val(id);
              $("#nombre").val(un);
              $("#sexo").val(us);
              $("#edad").val(ue);
              $("#observacion").val(uo);

              $("#btn").hide();
              $("#btnupdateprue").show();
              // var id = $(this).parents('tr').find("td").eq(2).html();
              //var un = $(this).parents('tr').find("td").eq(3).html();
              //var us = $(this).parents('tr').find("td").eq(4).html();
              //var ue = $(this).parents('tr').find("td").eq(5).html();
              //var uo = $(this).parents('tr').find("td").eq(6).html();

              // $("#idfilaupdate").val(id);
              // $("#unombre").val(un);
              // $("#usexo").val(us);
              // $("#uedad").val(ue);
              // $("#uobservacion").val(uo);

              //event.preventDefault();
              //jQuery.noConflict();
              //$("#myModal").modal("show");

        });

        $("#btn").click(function () {
            var n = $("#nombre").val();
            var s = $("#sexo").val();
            var e = $("#edad").val();
            var o = $("#observacion").val();

            if (n === "") {
                swal("Observar!", "Nombre vacio ", "warning");
                return;
            }

            if (s === "") {
                swal("Observar!", "Sexo vacio ", "warning");
                return;
            }
            if (e === "") {
                swal("Observar!", "Edad vacio ", "warning");
                return;
            }
            if (o === "") {
                swal("Observar!", "Observacion vacio ", "warning");
                return;
            }

            funInsert(n, s, e, o);

        });

        //$('#table').DataTable();


        funRequest(1);

        //$.noConflict();
        //$('#table').dataTable(funRequest(1));

    });

    function Limpiar(x) {
        debugger
        $("#idfilaupdate_").val("");
        $("#nombre").val("");
        $("#sexo").val("");
        $("#edad").val("");
        $("#observacion").val("");

        if (x === 1) {

            $("#btn").hide();
            $("#btnupdateprue").show();
        }
        else if (x === 0) {
            $("#btn").show();
            $("#btnupdateprue").hide();
        }

    }

    function funRequest(x) {

        debugger
        $.ajax({
            url: "@Url.Action("GetLista","Home")",
            dataType: "JSON",
            type: "GET",
            data: { x },
        }).done(function (data) {
            debugger

            $('#table').DataTable({
                data: data,
                columns: [
                    { "defaultContent": "<button class='btneliminar btn btn-danger' id='btn1'> Eliminar</button>" },
                    { "defaultContent": "<button class='btnupdate btn btn-warning' id='btn2'> Seleccionar</button>"},
                    { "data": "id" },
                    { "data": "nombre" },
                    { "data": "sexo" },
                    { "data": "edad" },
                    { "data": "oberservacion" }
                ],
                "destroy": "true",



            });
            console.log(data);
            //Delete the datable object first
            //if (oTable != null) oTable.fnDestroy();
            //Remove all the DOM elements


         }).fail(function (error) {
             console.log(error);
            });


    }


    function funRequestUpdate(x,tabla) {

        debugger
        $.ajax({
            url: "@Url.Action("GetLista","Home")",
            dataType: "JSON",
            type: "GET",
            data: { x },
        }).done(function (data) {
            debugger

            tabla.DataTable({
                data: data,
                columns: [
                    { "defaultContent": "<button class='btneliminar btn btn-danger' id='btn1'> Eliminar</button>" },
                    { "defaultContent": "<button class='btnupdate btn btn-warning' id='btn2'> Seleccionar</button>"},
                    { "data": "id" },
                    { "data": "nombre" },
                    { "data": "sexo" },
                    { "data": "edad" },
                    { "data": "oberservacion" }
                ],
                "destroy": "true",



            });
            console.log(data);
            //Delete the datable object first
            //if (oTable != null) oTable.fnDestroy();
            //Remove all the DOM elements


         }).fail(function (error) {
             console.log(error);
            });


    }

       @*$.ajax({

            url: "@Url.Action("GetLista","Home")",
            dataType: "JSON",
            type: "GET",
            data: {x},
        }).done(function (data) {


            debugger

            var htmltable = "";

            $.each(data, function (index, value) {


                htmltable += "<tr>";
                htmltable += "<td><button id='btn1' class='btneliminar btn btn-danger' >Eliminar</button></td>";
                htmltable += "<td><button id='btn2' class='btnupdate btn btn-warning' >Actualizar</button></td>";

                htmltable += "<td>" + value.id + "</td>";
                htmltable += "<td>" + value.nombre + "</td>";
                htmltable += "<td>" + value.sexo + "</td>";
                htmltable += "<td>" + value.edad + "</td>";
                htmltable += "<td>" + value.oberservacion + "</td>";




                htmltable += "</tr>";

            });

            $("#table").DataTable(htmltable);

        }).fail(function (error) {
            console.log(error);
        });*@




function funInsert(nombre,sexo,edad,observaciones) {

            $.ajax({
                url: "@Url.Action("queryinsert","Home")",
                dataType: "JSON",
                type: "POST",
                data: { nombre: nombre, sexo: sexo, edad: edad, observaciones: observaciones },

            }).done(function (data) {

                //alert("Se Guardo el registro no: " + data)
                swal("Exitoso!", "Se ha guardado el registro correctamente! " + data , "success");
                funRequest(1);
                Limpiar(0);
            }).fail(function (error) {
                console.log(error);
            });
        }



            function funDelete(id) {

            $.ajax({
                url: "@Url.Action("querydelete","Home")",
                dataType: "JSON",
                type: "POST",
                data: { id:id },

            }).done(function (data) {

                if (data === "1") {
                    //alert("El registro se elimino");
                    swal("Exitoso!", "Se ha Eliminado el registro correctamente! " + data, "success");

                } else swal("Fallo!", "no se pudo eliminar el registro " + data, "error");


               funRequest(1);
            }).fail(function (error) {
                console.log(error);
            });
        }


    function funUpdate(id, nombre, sexo, edad, observaciones) {
        debugger

      
            $.ajax({
                url: "@Url.Action("queryupdate","Home")",
                dataType: "JSON",
                type: "PUT",
                data: { id:id, nombre: nombre, sexo: sexo, edad: edad, observaciones: observaciones },

            }).done(function (data) {

                if (data === "1")
                {
                    debugger
                    swal("Exitoso!", "Se ha Actualizado el registro correctamente! ", "success");

                }
                else swal("Fallo!", "no se pudo eliminar el registro " + data, "error");


                funRequest(1);
                Limpiar(0);

            }).fail(function (error) {
                console.log(error);
            });
      
        }

    </script>
